@using System.Security.Claims
@using SportBooking.BLL.Dtos
@model IEnumerable<SportBooking.BLL.Dtos.SportFieldDto>

@{
    ViewData["Title"] = "Sport fields";
    var isAuthenticated = User?.Identity?.IsAuthenticated;
    var isAdmin = false;
    var userEmail = String.Empty;
    
    if (isAuthenticated == true)
    {
        userEmail = User?.Claims?.SingleOrDefault(t => t.Type.Equals(ClaimTypes.Email))?.Value;
        isAdmin = User.IsInRole("admin");
    }
}

<div class="container mx-auto w-full pt-24 mb-5">
    <img class="w-1/2 mx-auto mb-2" alt="Image" src="https://img.besthqwallpapers.com/Uploads/18-2-2019/80890/bayern-munich-stadium-4k-pink-illumination-allianz-arena-hdr.jpg"/>
    <div class="w-1/2 mx-auto">
        The first stadiums to be built in the modern era were basic facilities, 
        designed for the single purpose of fitting as many spectators in as 
        possible. With tremendous growth in the popularity of organised sport 
        in the late Victorian era, especially association football in the United 
        Kingdom and baseball in the United States, the first such structures were 
        built. One such early stadium was the Lansdowne Road Stadium, the brainchild 
        of Henry Dunlop, who organised the first All Ireland Athletics Championships. 
        Banned from locating sporting events at Trinity College, Dunlop built the 
        stadium in 1872. "I laid down a cinder running path of a quarter-mile, laid 
        down the present Lansdowne Tennis Club ground with my own theodolite, started a 
        Lansdowne archery club, a Lansdowne cricket club, and last, but not least, the 
        Lansdowne Rugby Football Club – colours red, black and yellow." Some 300 cartloads of
        soil from a trench beneath the railway were used to raise the ground, allowing 
        Dunlop to use his engineering expertise to create a pitch envied around Ireland.
    </div>
</div>

<div class="container mx-auto min-h-screen">
    @if (isAdmin)
    {
        <div class="block mb-5">
            <a asp-controller="SportField" asp-action="PostSportField" class="w-80 bg-gray-500 text-white text-md rounded drop-shadow-lg px-4 py-2">Add sportfield</a>
        </div>
    }
    <div class="grid grid-cols-4 gap-10">
        @foreach (var element in Model)
        {
            <div class="drop-shadow-lg rounded grid grid-cols-1">
                <img alt="Image" src="@element.ImageUrl"/>
                <div class="bg-gray-500 p-3 grid grid-cols-1">
                    <div class="text-white text-md font-regular">Id: @element.Id</div>
                    <a class="text-white text-xl mb-3 font-semibold" asp-controller="SportField" asp-action="SportFieldWithDetail" asp-route-id="@element.Id">@element.Title</a>
                    @if (isAdmin)
                    {
                        <div class="inline-block">
                            <a class="bg-red-600 text-white px-3 py-1 rounded drop-shadow-xl mr-2" asp-controller="SportField" asp-action="DeleteSportField" asp-route-id="@element.Id">
                                Delete
                            </a>
                            <a class="bg-amber-600 text-white px-3 py-1 rounded drop-shadow-xl" asp-controller="SportField" asp-action="UpdateSportField" asp-route-id="@element.Id">
                                Update
                            </a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>