@using System.Security.Claims
@using SportBooking.BLL.Dtos
@model IEnumerable<SportBooking.BLL.Dtos.SportFieldDto>

@{
    ViewData["Title"] = "Sport fields";
    var isAuthenticated = User?.Identity?.IsAuthenticated;
    var isAdmin = false;
    var userEmail = String.Empty;
    
    if (isAuthenticated == true)
    {
        userEmail = User?.Claims?.SingleOrDefault(t => t.Type.Equals(ClaimTypes.Email))?.Value;
        isAdmin = userEmail.Equals("admin@gmail.com");
    }
}

<div class="container mx-auto pt-36 min-h-screen">
    @if (isAdmin)
    {
        <div class="block mb-5">
            <a asp-controller="SportField" asp-action="PostSportField" class="w-80 bg-blue-500 text-white text-md rounded drop-shadow-lg px-4 py-2">Add sportfield</a>
        </div>
    }
    <div class="grid grid-cols-4 gap-10">
        @foreach (var element in Model)
        {
            <div class="drop-shadow-lg bg-blue-700 p-3 rounded grid grid-cols-1">
                <img class="rounded mb-2" alt="Image" src="@element.ImageUrl"/>
                <div class="text-white text-lg">Id: @element.Id</div>
                <a class="text-white text-3xl mb-3" asp-controller="SportField" asp-action="SportFieldWithDetail" asp-route-id="@element.Id">@element.Title</a>
                @if (isAdmin)
                {
                    <div class="inline-block">
                        <a class="bg-red-600 text-white px-3 py-1 rounded drop-shadow-xl mr-2" asp-controller="SportField" asp-action="DeleteSportField" asp-route-id="@element.Id">
                            Delete
                        </a>
                        <a class="bg-amber-600 text-white px-3 py-1 rounded drop-shadow-xl" asp-controller="SportField" asp-action="UpdateSportField" asp-route-id="@element.Id">
                            Update
                        </a>
                    </div>
                }
            </div>
        }
    </div>
</div>